section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem 5rem;
  color: #724665;
}

.text h2 {
  font-family: var(--title);
  font-size: 65px;
  float: right;
}

span {
  color: var(--accent1);
}

.text {
  margin-top: 10px;
  margin-left: 20px;
  width: 40%;
  color: var(--text);
  text-align: left;
  font-size: 20px;
  align-items: flex-end;
  font-family: var(--text);
  display: flex;
  flex-direction: column;
}
img {
  border-radius: 500px 500px 0 0;
}
