.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 250px;
  border-radius: 500px 500px 00px 00px;
}
h3 {
  text-align: center;
}

.footwear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.footwear-content {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.footwear-title h3 {
  font-size: 20px;
  margin-bottom: 50px;
  float: right;
  font-family: var(--text);
  font-size: 24px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #724665;
}

.para {
  font-family: var(--text);
  font-size: 24px;
  padding: 50px 0px;
  justify-content: center;
  color: #724665;
}

.footwear-btn {
  background-color: #724665;
  border: none;
  padding: 16px;
  border: none;
  font-size: 16px;
  color: #ffcbc2;
  margin-top: 50px;
  display: inline-block;
  font-family: var(--text);
  width: 140px;
}
