/* GOWNS SECTION */
.gowns {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 10;
}

.gowns-wrapper {
  width: 80%;
  margin: 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gowns-img img {
  width: 356px;
  max-width: 100%;
  border-radius: 200px 200px 0px 0px;
  filter: drop-shadow(15px 15px #ffaa99);
}

.gowns-title {
  font-size: 36px;
  font-family: var(--text);
  font-weight: 700;
  color: #724665;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: right;
  margin-bottom: 3rem;
}

.gowns-description {
  font-size: 24px;
  font-family: var(--text);
  color: #724665;
  width: 460px;
  margin-bottom: 40px;
}

.gowns-btn {
  width: 305px;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--accent2);
  background-color: #724665;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.gowns-btn:hover {
  background-color: transparent;
  border: 1px solid #724665;
  color: #724665;
}

.overlay2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.71;
  z-index: 10;
  display: none;
}
