.hero {
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/hero.png');
  background-position: center;
  position: relative;
}

.hero-wrapper {
  width: 80%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.navigation a:hover {
  color: var(--accent1);
}

.catalog a {
  font-family: var(--text);
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 5px;
}

.contact a {
  font-family: var(--text);
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  letter-spacing: 5px;
  margin-right: 30px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background: transparent;
  color: var(--white);
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.shopping-cart-btn {
  background-image: url('/assets/icons/cart.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.cart-counter {
  color: var(--textColor);
  position: relative;
  top: 0.6rem;
  font-size: 24px;
}

.hero-content {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 450px;
  text-align: right;
  font-family: var(--title);
  font-weight: 400;
  font-size: 46px;
  color: var(--white);
  line-height: 70px;
  letter-spacing: 1px;
}

.hero-color {
  color: var(--accent1);
}

.start {
  width: 174px;
  height: 152px;
  position: absolute;
  bottom: 0px;
  right: 10%;
}

.start-link {
  font-size: 20px;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--text);
  letter-spacing: 5px;
  text-decoration: none;
}

.start-line {
  height: 83px;
  width: 2px;
  background-color: var(--white);
  position: absolute;
  right: 100px;
  top: 50px;
}

/* Shopping Cart Modal */

/* .modal {
    position: relative;
} */

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.71;
  z-index: 10;
  display: none;
}

.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  height: 700px;
  overflow-y: scroll;
  background-color: var(--white);
  border-radius: 10px;
  z-index: 12;
  padding: 20px;
  display: none;
}

::-webkit-scrollbar {
  width: 15px;
  background: lightgray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(123, 37, 134);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #724665;
}

.cart-heading {
  font-size: 66px;
  font-weight: 500;
  font-family: var(--title);
  color: var(--accent1);
  padding-bottom: 20px;
}

.close-btn {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: var(--accent1);
  color: var(--white);
  font-size: 22px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  font-family: var(--text);
}

/* Modal Items */

.cart-row {
  margin-bottom: 30px;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-item-img img {
  width: 100px;
  max-width: 100%;
  height: auto;
}

.modal-item-title {
  text-transform: uppercase;
  font-size: 22px;
  font-family: var(--text);
  color: #724665;
  margin-bottom: 10px;
}

.border-line {
  width: 80px;
  height: 3px;
  background-color: #724665;
  margin-bottom: 1rem;
  margin-right: 40px;
}

.modal-item-content {
  font-family: var(--text);
  color: #724665;
  width: 220px;
  font-size: 20px;
}

.modal-item-btn {
  font-size: 22px;
  color: var(--white);
  background-color: #724665;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: linear ease-in 0.3s;
}

.modal-item-btn:hover {
  background-color: #58314d;
}

.total-order {
  text-align: right;
}

.total-order-btn {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--accent1);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: linear ease-in 0.3s;
  /* color: #4e854e; */
}
